.sidebar__container {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}

.sidebar__icons {
  position: relative;
  width: max(60px, 1em);
}

.sidebar__plane {
  position: absolute;
  top: -11px;
  right: 0;
  width: 50%;
  fill: white;
  stroke: black;
  stroke-width: 2px;
  rotate: 90deg;
}

.sidebar__sphere {
  fill: rgb(0, 166, 255);
  width: 100%;
  stroke: black;
  stroke-width: 0.5px;
}

.sidebar__title {
  margin-left: 10px;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .sidebar__container {
    text-align: center;
  }

  .sidebar__title {
    margin-left: 0;
    font-size: 1em;
    transform: rotate(-90deg);
  }
}
