body {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  grid-template-rows: auto 1fr auto; /* Sizes for header, main content, and footer */
  grid-template-columns: 30% 1fr; /* Size for sidebar and the rest */
  height: 100vh;
  margin: 0; /* Added to remove default margin */
}

.header {
  grid-area: header;
}

.sidebar {
  background-image: url("../images/island-img.jpg");
  background-size: cover;
  background-position: center;
  grid-area: sidebar;
  padding-top: 30%;
}

.sidebar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  padding: 10px;
}

.sidebar__plane {
  fill: lightgreen;
  rotate: 90deg;
}

.sidebar__sphere {
  position: absolute;
  left: 73px;
  fill: rgb(0, 115, 255);
}

.sidebar__title {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.form__container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  row-gap: 40px;
  column-gap: 120px;
  padding: 50px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 5px;
}

.form__input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form__error {
  position: absolute;
  bottom: -30%;
  color: red;
}

.form__input--error {
  border: 1px solid red;
}
