.sidebar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.sidebar__icons {
  position: relative;
  width: 50px;
}

.sidebar__plane {
  position: absolute;
  top: -10px;
  right: 0;
  width: 50%;
  fill: white;
  rotate: 90deg;
}

.sidebar__sphere {
  fill: rgb(0, 115, 255);
  width: 100%;
}

.sidebar__title {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
